<!-- <hello name="{{ name }}"  >
</hello><br/>
<input type="text" [(ngModel)]="txt"  (ngModelChange)="getcount()" />
<p [innerText]="txt" applystyle [Dcolor]="'green'" [Acolor]="'grey'"></p>
<p>The content count is : {{count}}</p>
<p>
  Start editing to see some magic happen :)
</p>
<p *ngFor="let n of nums">
  {{n}}</p>
<input type="button" (click)="showeven()" value="Show only even"/> -->
<app-heroes></app-heroes>
<!-- <app-servers></app-servers> -->
<!-- <nav>
  <a routerLink="/heroes">Heroes</a>
</nav> -->

<!-- <app-header class="mycls" (featureselected)="onNavigate($event)"></app-header>
<div class="container" >
  <div class="row"><div class="col-md-12">
    <router-outlet></router-outlet>

    </div></div>
</div> -->


  <!-- <app-recipes class="mycls2"  *ngIf="loadedfeature==='recipe'"></app-recipes>
  <app-shopping-list class="mycls2" *ngIf="loadedfeature!=='recipe'"></app-shopping-list> -->

<!-- 
<div class="container">
  <app-cockpit (serverCreated)="OnServerAdded($event)"
  (bpCreated)="OnBlueprintServerAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="Onchangefirst()">Change First Element</button>
      <app-server-element *ngFor="let serverElement   of serverElements" [srvElement]="serverElement" [name]="serverElement.name">

      </app-server-element>
    </div>
  </div>
</div> -->